@use "./varables" as var;

.section-one {
  background-color: var.$bg--014;
  position: relative;
  .line {
    img {
      position: absolute;
      left: 0.1px;
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }
}

.h1-text {
  width: 635px;
  font-size: 100px;
  color: var.$bg--FF;
  span {
    color: $bg--F6;
  }
}
.pp-text {
  max-width: 420px;
  font-size: 18px;
  color: var.$bg--FF;
  padding-top: 110px;
}
.flex-section-one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1180px) {
    justify-content: center;
    gap: 40px;
  }
}
